:root {
  --unnamed-color-189fe3: #189FE3;
  --unnamed-color-f7f7f7: #F7F7F7;
  --unnamed-color-fbfbfb: #FBFBFB;
  --unnamed-color-f6cfd2: #F6CFD2;
  --unnamed-color-365f2f: #365F2F;
  --unnamed-color-cfe5cb: #CFE5CB;
  --unnamed-color-7a5d3c: #7A5D3C;
  --unnamed-color-f8d9b7: #F8D9B7;
  --unnamed-color-315378: #315378;
  --unnamed-color-bee3f9: #BEE3F9;
  --unnamed-color-b6433d: #B6433D;
  --unnamed-color-606062: #606062;
  --unnamed-color-000000: #000000;
  --unnamed-color-cccccc: #CCCCCC;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-f79733: #F79733;
}
